@import "/src/mixin/index.scss";

.video-card {
  width: 300px;
  height: fit-content;
  cursor: pointer;

  @include sp {
    width: 180px;
  }

  &__thumbnail {
    position: relative;
    width: 100%;
    aspect-ratio: 2/1;
    margin-bottom: 15px;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 12px;
      transition: 0.7s all ease;
    }

    .circle {
      stroke: #ffffff; // mặc định màu trắng
      stroke-dasharray: 650;
      stroke-dashoffset: 0; // hiện trọn vẹn từ đầu
      opacity: 1;
      transition: stroke 0.35s ease, stroke-dashoffset 0.7s linear;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }

    .playBut {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
      border-radius: 50%;
      transition: transform 0.2s ease;

      .triangle {
        stroke-width: 6;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        transition: stroke 0.35s ease, stroke-dashoffset 0.7s linear,
          transform 0.7s ease-in-out;
        stroke-dasharray: 240;
        stroke-dashoffset: 480;
        stroke: #fff; // tam giác mặc định trắng
        transform: translateY(0);
      }
    }

    @keyframes nudge {
      0% {
        transform: translateX(0);
      }
      30% {
        transform: translateX(-5px);
      }
      50% {
        transform: translateX(5px);
      }
      70% {
        transform: translateX(-2px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    color: #fff;

    @include sp {
      font-size: 14px;
    }
  }

  &:hover {
    img {
      filter: opacity(0.3);
    }

    .playBut {
      .triangle {
        stroke-dashoffset: 0;
        opacity: 1;
        stroke: #f70f4d;
        animation: nudge 0.7s ease-in-out;
      }

      .circle {
        stroke: #f70f4d;
        stroke-dashoffset: -650; // chạy "xuôi" khi hover
        opacity: 1;
        transition: stroke 0.35s ease, stroke-dashoffset 0.7s linear;
      }
    }
  }
}
